.calendar-list {
  display: flex;
  flex-direction: column;
  padding: 2em 2em calc(65px + 2rem) 2em;
  min-width: calc(100% - 4rem);
}

.calendar-list-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin-bottom: 1.7em;
}

.task-icon {
  padding: 0.7rem 1rem;
  background: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 1em;
  width: 2rem;
}

.task-list {
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.task-item {
  display: grid;
  align-items: center;
  gap: 0.5em;
  grid-template-columns: 40px auto 1fr;
  min-height: 70px;
}

.task-description {
  padding-right: 1rem;
}

.task-target {
  transform: rotate(-90deg);
  text-align: center;
  justify-self: flex-start;
  opacity: 0.3;
}

/* OMFG checkbox styling */

.task-checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.task-checkbox-container input {
  margin: 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.task-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.task-checkbox-container:hover input ~ .task-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.task-checkbox-container input:checked ~ .task-checkmark {
  background-color: var(--color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.task-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.task-checkbox-container input:checked ~ .task-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.task-checkbox-container .task-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
