.new-challenge {
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  bottom: 0;
  max-width: calc(800px);
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 2em 2em 0 0;
  padding: 2em;

  z-index: 2;
}

.new-challenge h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.new-challenge-periodicity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
