.container-accordion {
  display: grid;
  background: #f6f5f5;
  padding: 1em;
  height: auto;
  border-radius: 0.5em;
}

.container-card {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr 1fr;
  align-items: flex-start;
}

.container-card-value {
  text-align: end;
}

.container-card i {
  font-size: 1.4em;
  background-color: var(--color-primary);
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-expansion {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  height: 3em;
}

.input-value {
  background-color: white;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.3em;
}

.input-value:focus {
  outline: none;
}

.input-value:empty:before {
  content: attr(data-placeholder);
  color: #bbbbbb;
}

.container-expansion button {
  background: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 0 0.5em 0.5em 0;

  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
