.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 65px;
  background: var(--color-secondary);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.2rem;
  z-index: 10;
}

.nav a,
.nav .nav-submit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.fa-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: white;
  border-radius: 50%;
}

a.active-link {
  color: var(--color-primary);
}

/* Settings */

.nav.settings {
  background: transparent;
}

.nav.settings .active-link {
  color: var(--color-secondary);
}
