.overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 800px;
  opacity: 0;
  display: none;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 65px;
  background: var(--color-secondary);
  transition: all ease-in 300ms;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.2rem;
  z-index: 1;
}

.nav a,
.nav .nav-submit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.fa-plus {
  padding: 14px;
  color: white;
  border-radius: 50%;
}

a.active-link {
  color: var(--color-primary);
}

/* Settings */

.nav.settings {
  background: var(--color-primary);
}

.nav.settings .fa-plus {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.nav.settings .active-link {
  color: var(--color-secondary);
}
