:root {
  --font-primary: #999;
  --font-secondary: #555;
  --color-primary: #262b3e;
  --color-secondary: white;
}
body {
  color: var(--font-secondary);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--color-primary);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}

.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

section {
  display: flex;
  background: var(--color-secondary);
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  min-height: auto;
  flex: 1;

  border-radius: 2em 2em 0 0;
}

section::-webkit-scrollbar {
  display: none;
}
