:root {
  --color-primary: #262b3e;
  --color-secondary: white;
  --color-tertiary: #999;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primary);
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
  max-width: 800px;
}

main {
  flex: 1;
  background: var(--color-secondary);
  padding: 2em 2em calc(65px + 2rem) 2em;
  border-radius: 2em 2em 0 0;
}
